.navbar {
    .navbar-toggler {
        border: none;
        background: transparent !important;

        @include breakpoint(tabletmobile) {
            padding: 20px;
            padding-left: 15px;
            margin-left: -15px;
        }

        i {
            color: $main-color;
            font-size: 18px;
        }

        &:focus {
            outline: none;
            background: transparent !important;
        }

        .icon-bar {
            background-color: $main-color;
            transform: rotate(0deg) translate(0px, 0px);
            transition: ease all 0.2s;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;

            + .icon-bar {
                margin-top: 4px;
            }
        }

        &:hover > .icon-bar:nth-child(2),
        &:active > .icon-bar:nth-child(2) {
            width: 22px;
            transition: ease all 0.2s;
        }

        &:not(.collapsed) .icon-bar {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 4px);
                transition: ease all 0.2s;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: ease all 0.2s;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(4px, -4px);
                transition: ease all 0.2s;
            }
        }
    }
}

.navbar-landing {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(90deg, rgba(119,9,121,1) 0%, rgba(131,5,181,1) 28%, rgba(169,4,198,1) 48%, rgba(141,3,216,1) 70%, rgba(255,0,254,1) 100%);
    .navbar {
        &-logo {
            width: 150px;
        }
    }

    .navbar-toggler {
        .icon-bar {
            background-color: white;
        }
    }

    .nav-item {
        .nav-link {
            color: white;
            padding: 10px 25px;

            &:hover {
                color: white;
            }
        }
    }
}

.subnav {
  float: center;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: transparent;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: center;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
